

/* Import Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

html {
  text-align: center;
  font-family: OpenSans;
  line-height: 1;
}

body {
  background: #E5E5E5;
}

/* Header */

.Header {
  width: 100vw;
  min-height: 400px;
  background: #8490fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 48px;
  color: white;
  font-size: 72px;
  font-weight: 600;
}

.LocationInput {
  width: 90vw;
  border: 0px;
  padding: 0px;
  max-width: 788px;
  height: 64px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
  border-radius: 5px 5px 0px 0px;
}

.LocationInput:focus {
  outline: none;
}

.LocationInput::placeholder {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #A0A0A0;
  border-radius: 5px 5px 0px 0px;
}

.AutocompletePlaces {
  position: relative;
  background-color: #f1f1f1;
  cursor: pointer;
  line-height: 50px;
  width: 788px;
  min-height: 50px;
  font-size: 24px;
  font-weight: 700;
  max-width: 788px !important;
}

.SearchButton {
  max-width: 788px;
  width: 90vw;
  height: 64px;
  background-color: #FF7272;
  border: 0px;
  border-radius: 0px 0px 5px 5px;
  color: white;
  font-size: 36px;
  font-weight: 800;
}

.SearchButton:hover {
  cursor: pointer;
}

/* Results */

.ResultsSection {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

.Results {
  width: 100%;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
}

.PizzaShop {
  display: flex;
  background-color: white;
  padding: 12px;
  margin: 12px 32px 32px 32px; 
  width: 80vw;
  max-width: 100% !important;
  justify-content: space-between;
}

.PizzaDetails {
  padding: 12px;
  float: left;
  text-align: left;
  
}

.PizzaOffers {
  padding: 12px;
  float: right;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}

h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

p {
  font-weight: 600;
  font-size: 18px;
}

/* When on a viewport 478px wide (a portrait smartphone), 
    - Reduce font size
    - Arrange Pizza Shops vertically
    - Ensure autocomplete suggestions don't exceed defined limits
 */
@media screen and (max-width: 478px) {
  h1 {
    font-size: 48px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  .PizzaShop {
    flex-direction: column;
    align-items: center;
  }

  .PizzaDetails {
    text-align: center;
  }

  .PlacesAutocomplete {
    max-width: 90vw !important;
  }
}